<div class='person-data'>
  <p class='person-position'>{{position}}</p>
  <h3 class='person-name'>{{name}}</h3>
  <img
    class='person-image'
    srcset='{{imagecolorized1xURL}} 125w, {{imagecolorized2xURL}} 250w'
    src='{{imagecolorized1xURL}}'
    alt='{{name}}'
  />
</div>
<div class='person-links'>
  <a class='person-github' href='{{github}}'></a>
  <a class='person-linkdin' href='{{linkdIn}}'></a>
  <a class='person-email' href='{{mail}}'></a>
</div>