<li class='products__cards-item' data-movie-id='{{id}}'>
  <article class='film-card'>
    <img class='imgCard' src='{{validPosterUrl}}' alt='{{title}}' />
    <div class='film-card__info-box'>
      <p class='film_title'>{{title}}</p>
      <ul class='info-list'>
        <li class='film_genre'>{{#each genresString}}
            {{this}}{{#unless @last}},{{/unless}}
          {{/each}}</li>
        <li class='film_genre'>{{releaseYear}}</li>
        <li class='film-profile__value--accent film_average'>{{vote_average}}</li>
      </ul>
    </div>
  </article>
</li>
