<div class="modal">
    <div class="film-poster"> 
        <img src="{{posterUrl}}" alt="{{title}}">
    </div>

    <div class="film-details">
        <h2 class="film__title">{{title}}</h2>

        <div class="film-profile">
                <ul class="film-profile__list">
                    <li class="film-profile__item">
                        <p class="film-charac">Vote / Votes</p>
                    </li>
                    <li class="film-profile__item">
                        <p class="film-charac">Popularity</p>
                    </li>
                    <li class="film-profile__item">
                        <p class="film-charac">Original Title</p>
                    </li>
                    <li class="film-profile__item">
                        <p class="film-charac">Genre</p>
                    </li>
                </ul>
                
                <ul class="film-profile__list">
                    <li class="film-profile__item">
                        <p class="film-charac-value"><span class="film-charac-value--accent">{{vote_average}}</span> / {{vote_count}}</p>
                    </li>
                    <li class="film-profile__item">
                        <p class="film-charac-value">{{popularity}}</p>
                    </li>
                    <li class="film-profile__item">
                        <p class="film-charac-value accent">{{original_title}}</p>
                    </li>
                    <li class="film-profile__item">
                        <p class="film-charac-value"> {{#each genres}} {{this.name}} {{/each}}</p>
                    </li>
                </ul>
        </div>
        <h3 class="film-description">About</h3>
        <p class="film-description__text">{{overview}}</p>
        
        <div class="btn-block">
            <button class="btn watched">ADD TO WATCHED</button>
            <button class="btn queue">ADD TO QUEUE</button>
        </div>
    </div>

</div> 
 
 
 
 