<div class="modal">
    <div class="film-poster"> 
        <img src="{{posterUrl}}" alt="{{title}}">
    </div>

    <div class="film-details">
        <h2 class="film__title">{{title}}</h2>

        <div class="film-profile">
                <ul class="film-profile__list">
                    <li class="film-profile__item">
                        <p class="film-charac">Vote / Votes</p>
                    </li>
                    <li class="film-profile__item">
                        <p class="film-charac">Popularity</p>
                    </li>
                    <li class="film-profile__item">
                        <p class="film-charac">Original Title</p>
                    </li>
                    <li class="film-profile__item">
                        <p class="film-charac">Genre</p>
                    </li>
                </ul>
                
                <ul class="film-profile__list">
                    <li class="film-inform__item">
                        <p class="film-charac-value"><span class="film-charac-value--accent">{{vote_average}}</span> / {{vote_count}}</p>
                    </li>
                    <li class="film-profile__item">
                        <p class="film-charac-value">{{popularity}}</p>
                    </li>
                    <li class="film-profile__item">
                        <p class="film-charac-value">{{original_title}}</p>
                    </li>
                    <li class="film-profile__item">
                        <p class="film-charac-value"> {{#each genres}} {{this.name}} {{/each}}</p>
                    </li>
                </ul>
        </div>
        <h3 class="film-description">About</h3>
        <p class="film-description__text">{{overview}}</p>
        
        <div class="btn-block">
            <button>ADD TO WATCHED</button>
            <button>ADD TO QUEUE</button>
        </div>
    </div>

</div> 
 
 
 
 {{!-- <div class="film-details">
        <div class="film-image">
            <img src="./images/photo.jpg" alt="film">
        </div>
        <div class="film-inform">
            <h2 class="film-inform__title">A FISTFUL OF LEAD</h2>

            <div class="film-inform__block">
                <ul class="film-inform__list">
                    <li class="film-inform__item">
                        <p class="film-charac">Vote / Votes</p>
                    </li>
                    <li class="film-inform__item">
                        <p class="film-charac">Popularity</p>
                    </li>
                    <li class="film-inform__item">
                        <p class="film-charac">Original Title</p>
                    </li>
                    <li class="film-inform__item">
                        <p class="film-charac">Genre</p>
                    </li>
                </ul>
                
                <ul class="film-inform__list">
                    <li class="film-inform__item">
                        <p class="film-charac-value"><span class="film-charac-value--accent">7.3</span> / 1260</p>
                    </li>
                    <li class="film-inform__item">
                        <p class="film-charac-value">100.2</p>
                    </li>
                    <li class="film-inform__item">
                        <p class="film-charac-value">A FISTFUL OF LEAD</p>
                    </li>
                    <li class="film-inform__item">
                        <p class="film-charac-value">Western</p>
                    </li>
                </ul>
            </div>

            <h3 class="film-description">About</h3>
            <p class="film-description__text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
            gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
            abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
            bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
            been double crossed – but by who and how?</p>
        <div class="btn-block">
            <button>ADD TO WATCHED</button>
            <button>ADD TO QUEUE</button>
        </div>
        
        </div>
       

    </div> --}}
